body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: rgb(40, 44, 52); */
  background: linear-gradient(35deg, red, purple);
  color: white;
  font-family: 'Arial', sans-serif;
  flex-direction: column;
}

/*
class elements
*/

.input-container {
  margin-bottom: 20px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container1 {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.clock {
  display: flex;
  justify-content: right;
  text-align: right;
  font-size: 3em;
  margin: 10px 0;
}

.element {
  padding: 0 10px;
  min-height: 55px;
  min-width: 55px;
  /* border: 1px solid red; */
}


/*
Date select
*/

select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 2rem;
  text-align: center;
  height: 6rem;
  /* width: 6rem; */
  padding: 0rem 2rem 0rem 2rem;
  /* padding: 1rem 0rem 1rem 0rem; */
  margin: 0.25rem;
  background: 
    linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
  color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  option {
    color: black;
    background-color: var(white);
  }
}

.separator {
  font-size: 2rem;
  font-weight: bolder;
}

/*
Clock animations
*/

.trans {
  opacity: 0;
}

.halftrans {
  opacity: 0.5;
}

@keyframes slideInTo50 {
  from {
      transform: translateY(0);
      opacity: 0;
  }
  to {
      transform: translateY(75px);
      opacity: 0.5;
  }
}

@keyframes slideInTo100 {
  from {
      transform: translateY(0);
      opacity: 0.5;
  }
  to {
      transform: translateY(75px);
      opacity: 1;
  }
}

@keyframes slideOutTo50 {
  from {
      transform: translateY(0);
      opacity: 1;
  }
  to {
      transform: translateY(75px);
      opacity: 0.5;
  }
}

@keyframes slideOutTo0 {
  from {
      transform: translateY(0);
      opacity: 0.5;
  }
  to {
      transform: translateY(75px);
      opacity: 0;
  }
}

.slideInTo50 {
  animation: slideInTo50 0.5s ease-in-out;
}

.slideInTo100 {
  animation: slideInTo100 0.5s ease-in-out;
}

.slideOutTo50 {
  animation: slideOutTo50 0.5s ease-in-out;
}

.slideOutTo0 {
  animation: slideOutTo0 0.5s ease-in-out;
}


/*
Button
*/

.button {
	pointer-events: auto;
	cursor: pointer;
	border: none;
	padding: 1.5rem 3rem;
  margin: 1rem;
  width: 41rem;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--bestia {
	font-size: 3rem;
  font-weight: bold;
	color: #fff;
	background: none;
	padding: 0;
}

.button--bestia .button__bg {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(35deg, purple, red);
	border-radius: 0.85rem;
  box-shadow: 1em 0 1em 0 rgba(0, 0, 0, 0.4);
	overflow: hidden;
	transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--bestia:hover .button__bg {
	transform: scale3d(1.2,1.2,1);
  box-shadow: 1.5em 0 1.5em 0 rgba(0, 0, 0, 0.4);
}

.button--bestia .button__bg::before,
.button--bestia .button__bg::after {
	content: '';
	position: absolute;
	background: linear-gradient(215deg, purple, red);
}

.button--bestia .button__bg::before {
	width: 110%;
	height: 0;
	padding-bottom: 110%;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
}

.button--bestia:hover .button__bg::before {
	transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
	transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
}

.button--bestia .button__bg::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s;
}

.button--bestia:hover .button__bg::after {
	opacity: 1;
	transition-duration: 0.01s;
	transition-delay: 0.3s;
}

.button--bestia span {
	display: block;
	position: relative;
	padding: 1.5rem 3rem;
	mix-blend-mode: difference;
}


/*
Modal
*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  color: black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*
footer
*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(35deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  color: #fff;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}

.footer-section {
  padding: 0 20px;
}

.footer-section-left {
  text-align: left;
}

.footer-section-right {
  text-align: right;
}

.footer-section p {
  margin: 0;
}

.footer-section a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section img {
  margin-left: 10px;
}

.git-logo {
  height: 2.5rem;
  width: 2.5rem;
}


/*
header
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  padding: 15px 0;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: 50px;
  height: 50px;
}


