footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(35deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.7);
    font-size: 1rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.footer-section {
    padding: 0 20px;
}

.footer-section-left {
    text-align: left;
}

.footer-section-right {
    text-align: right;
}

.footer-section p {
    margin: 0;
}

.footer-section a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-section a:hover {
    text-decoration: underline;
}


.git-logo {
    margin-left: 10px;

    height: 2.5rem;
    width: 2.5rem;
}